h1 {
  color: #0f172a;
  font-family: "Roboto";
}
.Container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sarath{
  height:90px;
  width:130px;
  border-radius: 50%;

}

.insideCard {
  background-color: #cffafe;
  height: 53vh;
  width: 45vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
}

p {
  margin: 5px;
  padding: 5px;
  color: #1a293b;
  font-size: 15px;
  font-family: "Roboto";
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
