h1 {
    color: #ea7a18;
    font-family: "Roboto";
    font-size: large;
    font-weight: 100;
text-align: center; 
margin-top: 80px;
  }
  .Container {
    background-color: black;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.sarath{
    height:150px;
    width:150px;
    /* border-radius: 50%; */
      margin-top: 20px;
   
margin-left: 135px; 
  }
  .monish{height:150px;
    width:150px;
   
    }
  
  .insideCard {
    background-image: linear-gradient(teal,red,green);
    height: 53vh;
    width: 80vh;
    background-size: cover;
  
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  
  /* p {
    margin: 5px;
    padding: 5px;
    color: #1a293b;
    font-size: 15px;
    font-family: "Roboto";
  }
 */



